@{
    ViewData["Title"] = "ChartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DynamicBoard.Application.Model
@using DynamicBoard.Models
@using Microsoft.JSInterop
@model RenderChart
@inject IJSRuntime JSRuntime



<div>
    @if (Model.IsAllowRefresh)
    {
        <img src="~/images/refresh.png" onclick="refreshPage()" alt="Refresh" style=" float: right; width: 16px;">
    }


    <img id="loader_@Model.ChartID" class="loader" src="~/images/Spinne.gif" />

    <div id="div_@Model.ChartID" style="justify-content:center;display:none;">
        @if (Model.ChartType != "Label")
        {
            <canvas id="canvas_@Model.ChartID" width="405px" height="285px"> Chart Canvas </canvas>
        }
        else
        {
            <div style="display: flex;justify-content:center;">
                <p>@Model.jsonchartTitle.Replace("\"", "")</p>
            </div>
            <div style="display: flex;justify-content:center;">
                <h1 id="Label_@Model.ChartID" style="font-style: inherit;text-align: center;"></h1>
            </div>
        }



    </div>


</div>


