@{
    ViewData["Title"] = "ChartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DynamicBoard.Application.Model
@using DynamicBoard.Models
@using Microsoft.JSInterop
@model RenderChart
@inject IJSRuntime JSRuntime



<div>
    @if (Model.IsAllowRefresh)
    {
        <img src="~/images/refresh.png" onclick="refreshPage()" alt="Refresh" style=" float: right; width: 20px;">
        

    }
    @if (Model.IsAllowPrint)
    {
        <img src="~/images/printer.png" onclick="printElement('div_@Model.ChartID') " alt="printer" style=" float: right; width: 25px;">
    }
    



    <img id="loader_@Model.ChartID" class="loader" src="~/images/Spinne.gif" />

    <div id="div_@Model.ChartID" style="justify-content:center;display:none;">
        @if (Model.ChartType != "Label")
        {
            <canvas id="canvas_@Model.ChartID" width="405px" height="450px"> </canvas>
        }
        else
        {
            <div style="display: flex;justify-content:center;">
                <h3>@Model.jsonchartTitle.Replace("\"", "")</h3>
            </div>
            <div style="display: flex;justify-content:center;">
                <h1 style="margin: auto;font-size: 50px;font-style: inherit;text-align: center;" id="Label_@Model.ChartID"></h1>
            </div>
        }



    </div>


</div>


