@{
	ViewData["Title"] = "ChartView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DynamicBoard.Application.Model
@using DynamicBoard.Models
@using Microsoft.JSInterop
@model RenderChart

@inject IJSRuntime JSRuntime
<script src="https://d3js.org/d3.v4.min.js"></script>
<style>
	#Progress- @Model.ChartID {
		width: 100%;
		height: 50%;
		position: relative;
	}
</style>
<div>
	@if (Model.IsAllowRefresh)
	{
		<img src="~/images/refresh.png" onclick="refreshPage()" alt="Refresh" style=" float: right; width: 20px;">


	}
	@if (Model.IsAllowPrint)
	{
		<img src="~/images/printer.png" onclick="printElement('div_@Model.ChartID') " alt="printer" style=" float: right; width: 25px;">
	}




	<img id="loader_@Model.ChartID" class="loader" src="~/images/Spinne.gif" />

	<div id="div_@Model.ChartID" style="justify-content:center;display:none;">
		@if (Model.ChartType == "Label")
		{
			<div style="display: flex;justify-content:center;">
				<h3 style="color:#1C459D">@Model.jsonchartTitle.Replace("\"", "")</h3>
			</div>
			<div style="display: flex;justify-content:center;">
				<h3 style="margin: auto;font-size: 35px;font-style: inherit;text-align: center;color:#C1A968" id="Label_@Model.ChartID"></h3>
			</div>
		}
		else if (Model.ChartType == "Progress Pie Chart")
		{
			<div id="Progress-@Model.ChartID"></div>

		}
		else if (Model.ChartType == "Data Grid")
		{
			<div id="Grid_@Model.ChartID">
				@if (Model.dataGrid is not null)
				{
					<button id="exportBtn" class="btn btn-primary" style="float:right; background-color:#a58d63; border-color:#a58d63;">
						Export to Excel
					</button>
					<br />
					<div>
						<p style="visibility: hidden;">Hidden</p>
					</div>
					<table id="tbl" class="table table-hover align-middle mb-0">
						<thead class="table-dark" style="color: #fff; background-color: #343a40; border-color: #484e53;">
							<tr>
								@foreach (var key in Model.dataGrid[0].Keys)
								{
									<th>@key</th>

								}
							</tr>
						<tbody>
								@foreach (var row in Model.dataGrid)
								{
								<tr style="background-color:#fcf0db;">
										@foreach (var value in row.Values)
										{
										<td>@value</td>
										}
								</tr>
								}
						</tbody>
					</table>
				}
			</div>
		}
		else
		{
			<canvas id="canvas_@Model.ChartID" width="405px" height="450px"> </canvas>
		}
	</div>


</div>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" charset="utf-8">
				document.getElementById("exportBtn").addEventListener("click", function () {
				debugger;
				alert('Im here');
				var table = document.getElementById("tbl");
				var headers = [];
				var rows = [];
				// Extract headers
				var headerCells = table.querySelectorAll("thead th");
				headerCells.forEach(function (th) {
					headers.push(th.textContent.trim());
				});

				var rowElements = table.querySelectorAll("tbody tr");
				rowElements.forEach(function (tr) {
					var rowData = {};
					var cells = tr.querySelectorAll("td");
					cells.forEach(function (td, index) {
						rowData[headers[index]] = td.textContent.trim();
					});
					rows.push(rowData);
				});

					var tableData = {
					Headers: headers,
					Rows: rows
				};

	

			fetch("/Chart/ExportToExcel", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body:JSON.stringify ({Headers:headers,Rows:rows})
			})
			.then(response => response.blob())
			.then(blob => {
				var url = window.URL.createObjectURL(blob);
				var a = document.createElement("a");
				a.href = url;
				a.download = "ExportedData.xlsx";
				document.body.appendChild(a);
				a.click();
				document.body.removeChild(a);
			})
			.catch(error => console.error("Export failed", error));

		});
</script>


