

<!doctype html>
<html dir="rtl" lang="ar">
<head>

    <!-- TITLE -->
    <title>@ViewData["Title"] - DynamicBoard</title>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta name="keywords" content="admin bootstrap 4 template, admin dashboard, admin dashboard template, admin panel html template, admin panel template, bootstrap 4 dashboard, modern admin template, bootstrap admin dashboard, bootstrap admin dashboard template, bootstrap admin template, bootstrap dashboard, bootstrap dashboard template, bootstrap simple dashboard, dashboard bootstrap 4, dashboard html css, dashboard template bootstrap 4, bootstrap control panel, template bootstrap 4 admin, simple bootstrap admin template, simple dashboard html template, simple dashboard template bootstrap" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--favicon -->
    <link rel="icon" href="../../assets/images/brand/favicon.ico" type="image/x-icon" />

    <!-- BOOTSTRAP CSS -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- DASHBOARD CSS -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="../../assets/css/skins-modes.css" rel="stylesheet" />

    <!--SIDEMENU CSS-->
    <link rel="stylesheet" href="../../assets/css/closed-sidemenu.css">

    <!--C3 CHARTS CSS -->
    <link href="../../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!-- P-SCROll CSS -->
    <link href="../../assets/plugins/p-scroll/p-scroll.css" rel="stylesheet" type="text/css">

    <!--- FONT-ICONS CSS -->
    <link href="../../assets/css/icons.css" rel="stylesheet" />

    <!-- SIDEBAR CSS -->
    <link href="../../assets/plugins/right-sidebar/right-sidebar.css" rel="stylesheet">

    <!-- INTERNAL SWEET ALERT Css-->
    <link href="../../assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="../../assets/css/color-skins/color11.css" />

    <!-- Chart JS Jquery Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>


</head>
<body class="app sidebar-mini">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="../../assets/images/svgs/loader.svg" class="loader-img" alt="Loader">
    </div>

    <div class="page" dir="auto">
        <div class="page-main">

            <div style="width:100%, margin: auto;border: 3px;padding: 114px;">
                @RenderBody()
            </div>
        </div>


    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JQUERY SCRIPTS JS-->
    <script src="../../assets/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- BOOTSTRAP SCRIPTS JS-->
    <script src="../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- SPARKLINE JS-->
    <script src="../../assets/js/vendors/jquery.sparkline.min.js"></script>

    <!-- CHART-CIRCLE JS-->
    <script src="../../assets/js/vendors/circle-progress.min.js"></script>

    <!-- PARTICLES JS-->
    <script src="../../assets/plugins/particles.js-master/particles.js"></script>
    <script src="../../assets/plugins/particles.js-master/particlesapp_bubble.js"></script>

    <!-- RATING STAR JS-->
    <script src="../../assets/plugins/rating/rating-stars.js"></script>

    <!-- C3 CHART JS-->
    <script src="../../assets/plugins/charts-c3/d3.v5.min.js"></script>
    <script src="../../assets/plugins/charts-c3/c3-chart.js"></script>

    <!-- INPUT MASK JS-->
    <script src="../../assets/plugins/input-mask/input-mask.min.js"></script>

    <!-- SIDEBAR JS -->
    <script src="../../assets/plugins/right-sidebar/right-sidebar.js"></script>

    <!-- INTERNAL POPOVER JS -->
    <script src="../../assets/js/popover.js"></script>

    <!-- INTERNAL SWEET ALERT JS -->
    <script src="../../assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="../../assets/js/sweet-alert.js"></script>

    <!-- P-SCROLL JS -->
    <script src="../../assets/plugins/p-scroll/p-scroll.js"></script>
    <script src="../../assets/plugins/p-scroll/p-scroll-1.js"></script>

    <!--SIDEMENU JS-->
    <script src="../../assets/plugins/sidemenu/icon-sidemenu.js"></script>

    <!-- CUSTOM JS-->
    <script src="../../assets/js/custom.js"></script>
     

</body>
</html>