  
<div class="card" >
    <div class="card-body">

        <div class="row">

            <div class="chart-container" style="position: relative; height:50vh; width:80vw">
        <p> Empty Chart</p>
            </div>
        </div>

    </div>
</div>

<style>
    .draggable {
        width: 150px;
        height: 150px;
        padding: 0.5em;
    }
</style>
 