@{
    Layout = null;
}

<h1 class="text-danger">Access Denied.</h1>
<h2 class="text-danger">You don't have permission to Login.</h2>


<div>
    <h3><a style="color: blue" href="~/">Back to login</a></h3>
</div>